node_modules
package-lock.json
build
certs/
assets/main.css
.yarn

server/config.jsonc
client/src/config.js

database/*
session/*
server/database/*
server/session/*
server/src/optimizations-temp/*

logs/*
server/logs/*

.vscode

softball-sim.jar
java.log
cred.json
.gradle

src-srv/optimizations-temp/
shared-lib.js
shared-lib.js.LICENSE.txt
yarn-error.log
emergency-dump-*
coverage

workers/service-worker.js
client/build
client/config/
src-srv/logs
config-common.js
*.sublime-project
*.sublime-workspace