node_modules
build
assets/main.css
certs/
package-lock.json
src-srv/config.js
src/config.js
config-common.js
*.sublime-project
*.sublime-workspace
src-srv/logs
logs/*
server/logs/*
softball-sim.jar
java.log
cred.json
.gradle
src-srv/optimizations-temp/
shared-lib.js
shared-lib.js.LICENSE.txt
yarn-error.log
database/*
session/*
emergency-dump-*
.yarn

coverage
server/database/*
server/session/*
workers/service-worker.js
client/build
client/config/
server/src/optimizations-temp/