
body {
  background: $css.colors.BACKGROUND;
  color: $css.colors.TEXT_DARK;
  position: absolute;
  width: 100%;
  margin: 0px;
  font-size: 16px;
  font-family: Roboto, San Francicso, Trebuchet MS, sans-serif;
  box-sizing: border-box;
  padding-top: 48px; /* sticky header height */
}

hr {
  border: 0;
  height: 1px;
  background: #333;
}

@font-face {
  font-family: 'score_boardregular';
  src: url('/assets/scoreboard-webfont.woff2') format('woff2'),
       url('/assets/scoreboard-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.background-text {
  text-align: center;
  font-size: 14px;
  margin: 10px;
}

.centered-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
}

.fade-out {
  -webkit-animation: fadeout 3s;
  -moz-animation: fadeout 3s;
  -ms-animation: fadeout 3s;
  -o-animation: fadeout 3s;
  animation: fadeout 3s;
}

.card-body {
  max-width: 960px;
  margin: 0 auto;
  background: $css.colors.WHITE;
  padding: 1rem 0 1rem 0;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
  margin-bottom: 48px;
  /* height: 100%; */
}

.page-error {
  text-align: center;
  font-size: 24px;
  padding: 5px;
}

.header-right {
  padding: 12px;
}

.back-arrow {
  padding: 12px;
}

.header-right,
.back-arrow,
.lineup-row-button {
  cursor: pointer;
  height: $css.sizes.ICON;
  width: $css.sizes.ICON;
}


.card-title {
  position: fixed;
  top: 0;
  width: 100%;
  color: $css.colors.TEXT_LIGHT;
  background-color: $css.colors.PRIMARY_DARK;
  margin-bottom: 2px;
  font-size: $css.typography.size.xLarge;
  text-align: center;
  line-height: 48px;
  height: 48px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 1000;
  cursor: default;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-textbox {
  padding: 0.75rem 0.25rem;
  color: $css.colors.TEXT_DARK;
}

.card {
  position: fixed;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
}

.list-item {
  cursor: default;
  padding: 12px;
  margin: 10px;
  border-radius: $css.borderRadius.small;
  color: $css.colors.TEXT_LIGHT;
  background-color: $css.colors.SECONDARY;
  font-size: 20px;
}

.add-list-item {
  background-color: $css.colors.PRIMARY;
  color: $css.colors.TEXT_LIGHT;
}

.table-row {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: $css.colors.TEXT_LIGHT;
  background-color: $css.colors.PRIMARY;
  border-bottom: 1px solid $css.colors.PRIMARY_LIGHT;
}
.table-cell {
  border-right: 1px solid $css.colors.SECONDARY_LIGHT;
  border-bottom: 1px solid $css.colors.SECONDARY_LIGHT;
  padding: $css.spacing.xSmall;
  min-width: 50px;
  height: 24px;
  line-height: 1.7;
}
.table-cell-header {
  color: $css.colors.TEXT_DARK;
  padding: 7px;
}
.table-cell-header-label {
  color: $css.colors.TEXT_LIGHT;
  background-color: $css.colors.PRIMARY_DARK;
}

.name-stat-cell {
  width: 80px;
  text-align: left;
  height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $css.colors.TEXT_LIGHT;
  background-color: $css.colors.PRIMARY_DARK;
}

.number-stat-cell {
  text-align: center;
  width: 25px;
}
.number-stat-cell-small {
  text-align: center;
  width: 25px;
}
.number-stat-cell-header {
  text-align: center;
  width: 25px;
}

.percentage-stat-cell {
  text-align: center;
  width: 55px;
}
.percentage-stat-cell-header {
  text-align: center;
  width: 55px;
}

.lineup-row {
  touch-action: initial !important;
  background-color: $css.colors.WHITE;
  border-radius: $css.borderRadius.small;
  color: $css.colors.TEXT_DARK;
  display: flex;
  justify-content: space-between;
  margin: 5px 5px;
  padding-left: 5px;
  min-width: calc(100% - 36px);
  border: $css.border;
}

.player-drag-handle {
  cursor: pointer;
  touch-action: none !important;
  padding: 20px 20px;
  margin: -12px -7px -12px -12px;
  display: flex;
}

.lineup-row .player-name {
  width: 25%;
}

.lineup-row-button {
  padding: 12px;
  margin: -12px;
}

.loading-container {
  /* To position the loading */
  position: relative;
}

.loading {
  left: 0;
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  align-items: center;
  display: flex;
  justify-content: center;
}

.player-name {
  font-size: 16px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scorer-row {
  background-color: $css.colors.SECONDARY;
  border-radius: $css.borderRadius.small;
  color: $css.colors.TEXT_LIGHT;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 16px;
}

.future-batter-row {
  background-color: $css.colors.SECONDARY;
  border-radius: $css.borderRadius.small;
  color: $css.colors.TEXT_LIGHT;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 16px;
}

.lineup-box-beginning,
.lineup-box-end,
.lineup-box {
  background-color: white;
  color: $css.colors.TEXT_DARK;
  height: 32px;
  width: 32px;
  font-size: 14px;
  line-height: 32px;
  border: 1px solid $css.colors.TEXT_DARK;
  text-align: center;
}

.lineup-box-beginning {
  border-right: none;
}
.lineup-box-end {
  border-left: none;
}

.lineup-box:hover,
.lineup-box:active,
.list-item:hover,
.list-item:active {
  filter: brightness(75%);
}

.lineup-score {
  padding-left: 10px;
  display: flex;
  margin-bottom: 16px;
}

.lineup-score-text {
  padding-left: 8px;
  padding-top: 2px;
  color: $css.colors.TEXT_DARK;
}

.dark-text {
  color: $css.colors.TEXT_DARK;
}

.light-text {
  color: $css.colors.TEXT_LIGHT;
}

.grey-text {
  color: $css.colors.TEXT_GREY;
}

.result-button {
  cursor: default;
  width: 48px;
  padding: 12px;
  color: $css.colors.TEXT_LIGHT;
  border: 2px solid $css.colors.SECONDARY;
  border-radius: $css.borderRadius.small;
  text-align: center;
  font-size: 18px;
}

.disabled {
  pointer-events: none;
  color: $css.colors.TEXT_GREY !important;
}

.radio-button {
  display: flex;
  color: $css.colors.TEXT_LIGHT;
  font-size: 18px;
}

.group {
  border: 1px $css.colors.SECONDARY_DARK solid;
  border-radius: $css.borderRadius.small;
  padding: 0px;
  margin-bottom: 8px;
  color: $css.colors.TEXT_DARK;
}

.group-legend {
  font-size: 12px;
  margin-left: 8px;
}

.radio-button-option {
  font-size: 16px;
  display: inline-block;
  margin: 5px 14px 10px 14px;
}

/* Songs */
.song-preview-container {
  display: flex;
  padding-left: 16px;
  align-items: flex-start;
}

.song-label {
  color: $css.colors.TEXT_DARK;
  font-size: 12px;
  padding: 0 16px 8px 0;
  margin-left: 2px;
}

/* It's possible to make these have prettier names */
.react-autosuggest__container,
.auth-input-container{
  position: relative;
  margin: 10px;
  /* TODO Which color is this supposed to be?  */
  color: $css.colors.TEXT_LIGHT;
  color: black;
}

.page-width-input {
  width: calc(100% - 20px);
  padding: 14px;
  height: 48px;
  margin: 2px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: 0.25rem;
}

.react-autosuggest__input,
.auth-input {
  width: calc(100% - 20px);
  height: 50px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: $css.borderRadius.small;
  margin: 2px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: $css.colors.WHITE;
  font-size: 18px;
  border-radius: $css.borderRadius.small;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $css.colors.SECONDARY_LIGHT;
}

.text-div {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}

/* Dialog styles */

.dialog-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.dialog {
  max-width: 960px;
  background-color: $css.colors.BACKGROUND;
  border-radius: $css.borderRadius.medium;
  color: $css.colors.TEXT_DARK;
  box-shadow: 0px 9px 25px 10px rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin: 32px;
  z-index: 2001;
  margin-top: 80px;
  width: 100%;
}

.dialog-text {
  font-size: $css.typography.size.medium;
  color: $css.colors.TEXT_DARK;
}

.dialog-input-box {
  background-color: $css.colors.WHITE;
  border-radius: $css.borderRadius.small;
  color: $css.colors.TEXT_DARK;
  font-size: $css.typography.size.medium;
  margin-top: 24px;
  width: calc(100% - 18px);
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button {
  border-radius: $css.borderRadius.small;
  cursor: pointer;
  font-size: $css.typography.size.medium;
  margin: 10px;
  text-align: center;
  min-width: 52px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.button:active {
  filter: brightness(75%);
}

@media (hover: hover) {
  .button:active,
  .button:hover {
    filter: brightness(95%);
  }
}

@media (hover: hover) {
  .hover:active,
  .hover:hover {
    filter: brightness(95%);
  }
}

.primary-button {
  background-color: $css.colors.PRIMARY_DARK;
  border: 2px solid $css.colors.PRIMARY_DARK;
  color: $css.colors.TEXT_LIGHT;
}

.secondary-button {
  background-color: $css.colors.PRIMARY;
  border: 2px solid $css.colors.PRIMARY;
  color: $css.colors.TEXT_DARK;
}

.tertiary-button {
  background-color: $css.colors.BACKGROUND;
  border: 2px solid $css.colors.BACKGROUND;
  color: $css.colors.TEXT_DARK;
  border: solid 1px;
}

.cancel-button {
  background-color: $css.colors.PRIMARY_LIGHT;
  color: $css.colors.TEXT_LIGHT;
  border: 2px solid $css.colors.PRIMARY_LIGHT;
}

.delete-button {
  background-color: $css.colors.DELETE;
  border: 2px solid $css.colors.DELETE;
  color: $css.colors.TEXT_LIGHT;
}

.list-button {
  background-color: $css.colors.WHITE;
  border: $css.border;
  margin: 10px;
}

.edit-button {
  background-color: $css.colors.WHITE;
  border: $css.border;
  margin: 10px;
  justify-content: left;
}

.edit-button-icon {
  vertical-align: middle;
  margin-right: 12px;
  background-color: $css.colors.SEMI_TRANSPARENT;
}

.edit-button-label {
  vertical-align: middle;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight {
  margin: -5px;
  padding: 1px;
  transition: height 100ms;
  transition: margin-top 100ms;
}

.no-transition {
  transition: none !important;
}

.plate-appearance-list {
  overflow-x: scroll;
  box-sizing: content-box;
  display: flex;
  justify-content: flex-start;
}

.plate-appearance-list-container {
  overflow: hidden;
  width: 70%;
  height: 34px;
  margin-top: 3px;
}

.pulse-animation {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.plate-appearance-baseball {
  padding: 12px;
  height: 32px;
  width: 32px;
}

.plate-appearance-card-actions {
  filter: invert(1);
  padding: 12px;
  height: 32px;
  width: 32px;
}

.prevent-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  position: relative;
  margin: 20px auto;
  width: 500px;
  height: 80vh;
}

.sticky-table .sticky-table-cell {
  display: table-cell;
  box-sizing: border-box;
}
.sticky-table .sticky-table-row {
  display: table-row;
}
.sticky-table .sticky-table-table {
  display: table;
  box-sizing: border-box;
}
.sticky-table {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: $css.typography.size.small;
}
.sticky-table .sticky-table-corner {
  z-index: 4;
}
.sticky-table .sticky-table-header {
  z-index: 3;
  overflow: hidden;
}
.sticky-table .sticky-table-column {
  min-height: 100%;
}
.sticky-table .sticky-table-column,
.sticky-table .sticky-table-header,
.sticky-table .sticky-table-corner,
.sticky-table .sticky-table-x-wrapper {
  display: inline-block;
  vertical-align: top;
}
.sticky-table .sticky-table-column.hidden,
.sticky-table .sticky-table-header.hidden,
.sticky-table .sticky-table-corner.hidden {
  display: none;
}
.sticky-table .sticky-table-y-wrapper,
.sticky-table .sticky-table-header-wrapper {
  white-space: nowrap;
}
.sticky-table .sticky-table-x-wrapper,
.sticky-table .sticky-table-y-wrapper {
  z-index: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.sticky-table .sticky-table-x-wrapper {
  min-height: 100%;
  width: 100%;
  overflow-x: auto;
}
.sticky-table .sticky-table-y-wrapper {
  height: 100%;
  overflow-y: auto;
  margin-right: -17px;
  padding-right: 17px;
}
.sticky-table .sticky-table-table {
  overflow: visible;
}
/*
Hack to make table paint on it's own layer.
Because of this it won't paint when the scrollbar paints.
This one was crucial for performance.
Scrolling is ~10-20x smoother.
*/
.sticky-table .sticky-table-table {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Scrollbars */
.sticky-table-y-wrapper::-webkit-scrollbar,
.sticky-table-x-wrapper::-webkit-scrollbar {
  display: none;
}
.sticky-table .x-scrollbar,
.sticky-table .y-scrollbar {
  position: absolute;
  background-color: transparent;
  z-index: 5;
  overflow: auto;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.sticky-table .x-scrollbar {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 17px;
}
.sticky-table .y-scrollbar {
  right: 0px;
  top: 0px;
  height: 100%;
  width: 17px;
}
.sticky-table .x-scrollbar div {
  height: 100%;
}
.sticky-table .y-scrollbar div {
  width: 100%;
}

.gone {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.fixed {
  position: fixed;
}

.help-parent {
  display: flex;
  align-items: flex-start;
}

.icon-button {
  width: 48px;
  height: 48px;
  border-radius: $css.borderRadius.medium;
  margin-left: 3px;
  background-color: $css.colors.PRIMARY_DARK;
  text-align: center;
}

.help-icon {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background-color: #f0f0f0;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.float-container {
  border: solid 1px #ccc;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 4px 8px;
  position: relative;
  border-radius: $css.borderRadius.small;
  background-color: white;
  width: 100%;
}

.float-container input {
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 16px 0 3px;
  line-height: 1.6;
  width: calc(100% - 10px);
}

.float-container label {
  color: black;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  opacity: 0.5;
  transform-origin: top left;
  transform: translate(0, 14px) scale(1);
  transition: all 0.1s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/** active label */
.float-container.active label {
  transform: translate(0, 4px) scale(0.75);
}

.select {
  border: none;
  margin-top: 18px;
  font-size: 16px;
  padding-bottom: 6px;
  margin-left: -4px;
}

.floating-react-select {
  margin-top: 7px;
}

.floating-react-select > div:first-of-type > div:first-of-type {
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

.floating-react-select input,
.floating-react-select
  > div:first-of-type
  > div:first-of-type
  > div:first-of-type,
.floating-react-select
  > div:first-of-type
  > div:first-of-type
  > div:first-of-type
  > div:first-of-type {
  width: 100% !important;
}

.floating-react-select div[class*='indicatorContainer'] {
  display: none !important;
}

.accordion .chevron {
  margin-bottom: -4px;
  margin-right: 4px;
  transition: transform 0.25s ease-in-out;
}

.accordion .chevronExpanded {
  transform: rotate(90deg);
}

.accordion dl,
.accordion-list {
  border: 1px solid $css.colors.BACKGROUND;
  border-bottom: none;
}

.accordion dd,
.accordion__panel {
  background-color: $css.colors.BACKGROUND;
  font-size: 1em;
  margin-inline-start: 0px;
}
.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: $css.colors.BACKGROUND;
}

.accordionTitle,
.accordion__Heading {
  background-color: $css.colors.WHITE;
  font-size: 20px;
  display: block;
  color: $css.colors.TEXT_DARK;
  transition: background-color 0.25s ease-in-out;
  border-top: 1px solid;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: darken($css.colors.PRIMARY, 10%);
}
.accordionItem {
  height: auto;
  overflow: hidden;

  max-height: 50em;
  padding: 1rem;
  transition: max-height 0.25s, padding 0.25s;
}

.accordionItem.is-collapsed {
  max-height: 0 !important;
  padding: 0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
  animation: accordionIn 0.25s normal ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.js-accordionTrigger {
  width: calc(100% - 24px);
  padding: 12px;
  display: inline-block;
}

.playerTable {
  table-layout: fixed;
  width: 100%;
}

.playerTable .title {
  table-layout: fixed;
  width: 100%;
}

.playerTable td,
.playerTable th {
  border: 1px solid #ddd;
  text-align: center;
}

.playerTable .name {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-right: 2px;
  padding-left: 8px;
}

.playerTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.playerTable {
  border-collapse: collapse;
}

.playerTable .overridden {
  font-style: italic;
  font-weight: 900;
}

#gamesMenu label {
  display: block;
  /* border: 1px solid black; */
  font-size: $css.typography.size.medium;
  border-bottom: none;
  padding: 14px;
}
/* #gamesMenu label:last-child {
  border-bottom: 1px solid black;
} */

#gamesMenu input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
  *overflow: hidden;
}

#gamesMenu input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

#footer {
  text-align: center;
}

.buffer {
  padding: 8px;
}

/* THE SPEECH BUBBLE */

.triangle-border {
  /*position:relative;*/
  padding: 9px;
  /*margin:1em 0 3em;*/
  border: 5px solid $css.colors.PRIMARY;
  color: $css.colors.BACKGROUND;
  background:#fff;
  border-radius:10px;
  text-align:center;
  width: 100px;
}

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px;
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:$css.colors.PRIMARY transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px;
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:$css.colors.BACKGROUND transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.player-location {
  position: absolute;
  border: solid;
  border-radius: 26px;
}

.player-location-highlight {
  color: red;
}

/* Pie optimization IN_PROGRESS svg */

.pie-timer {
  background: -webkit-linear-gradient(
    left,
    $css.colors.PRIMARY 50%,
    #f5f5f5 50%
  ); /* $css.colors.BACKGROUND doesn't get substituted here, so I'm hardcoding #F5F5F5 */
  border-radius: 100%;
  height: 25px; /* Height and width */
  position: relative;
  width: 25px; /* Height and width */
  -webkit-animation: time $css.config.SYNC_DELAY steps(200, start);
  animation: time $css.config.SYNC_DELAY steps(200, start);
  margin-top: 8px;
  display: inline-flex;
}
.pie-mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  -webkit-animation: pie-mask $css.config.SYNC_DELAY steps(100, start);
  -webkit-transform-origin: 100% 50%;
  animation: pie-mask $css.config.SYNC_DELAY steps(100, start);
  transform-origin: 100% 50%;
}
.pie-wrapper {
  width: 25px;
  height: 25px;
}
@-webkit-keyframes time {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pie-mask {
  0% {
    background: $css.colors.BACKGROUND; /* Background colour */
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    background: $css.colors.BACKGROUND; /* Background colour */
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  50.01% {
    background: $css.colors.PRIMARY; /* Foreground colour */
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    background: $css.colors.PRIMARY; /* Foreground colour */
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}

.chip {
  padding: 8px 16px;
  background: $css.colors.BACKGROUND;
  text-align: center;
  display: inline-block;
  border-radius: $css.borderRadius.xLarge;
  cursor: default;
}

.storage-container {
  padding: 10px;
  max-width: 300px;
}

.storage-row {
  display: flex;
  justify-content: space-between;
}

.storage-label {
  padding-left: 30px;
}

.storage-value {
  font-weight: 1000;
}

.player-stats td,
.player-stats th {
  padding-right: $css.spacing.xSmall;
}

.stats-footer {
  text-align: center;
  color: $css.colors.TEXT_GREY;
  font-size: $css.typography.size.small;
  padding-top: $css.spacing.large;
}
