body {
  background: $css.colors.PRIMARY;
  color: $css.colors.TEXT_DARK;
  position: absolute;
  width: 100%;
  margin: 0px;
  font-size: 14px;
  font-family: Roboto, San Francicso, Trebuchet MS, sans-serif;
  box-sizing: border-box;
  padding-top: 48px; /* sticky header height */
}

.card {
    -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.page-error {
  text-align: center;
  font-size: 24px;
  padding: 5px;
}

.back-arrow {
  float: left;
  padding: 12px;
}

.back-arrow,
.delete-button {
  cursor: pointer;
  height: $css.sizes.ICON;
  width: $css.sizes.ICON;
}

.delete-button {
  padding: 12px;
  margin: -12px;
}

.card-title {
  position: fixed;
  top: 0;
	width: 100%;
	font-weight: bold;
	color: $css.colors.TEXT_LIGHT;
	background-color: $css.colors.PRIMARY_DARK;
	margin-bottom: 2px;
	font-size: 24px;
	text-align: center;
  line-height: 48px;
  height: 48px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  z-index: 1000;
}

.card-title-text-with-arrow {
  margin-right: 56px; /* Size of arrow including padding */
}

.list-item {
	padding: 12px;
	margin: 10px;
	border-radius: 4px;
  color: $css.colors.TEXT_LIGHT;
  background-color: $css.colors.SECONDARY;
  font-size: 20px;
}

.list-item:hover, .list-item:active {
	background-color: $css.colors.SECONDARY_LIGHT;
}

.add-list-item {
  background-color: $css.colors.PRIMARY_DARK;
  color: $css.colors.TEXT_LIGHT;
}

.table-row {
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  width: calc( 100% - 20px );
  color: $css.colors.TEXT_LIGHT;
  background-color: $css.colors.PRIMARY;
  border-bottom: 1px solid $css.colors.SECONDARY;
}

.number-stat-cell,
.number-stat-cell-header {
  text-align: center;
  width: 35px;
}

.percentage-stat-cell,
.percentage-stat-cell-header {
  text-align: center;
  width: 50px;
}

.lineup-row {
  touch-action: initial !important;
  background-color: $css.colors.SECONDARY;
  border-radius: 4px;
  color: $css.colors.TEXT_LIGHT;
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
  padding: 12px;
  min-width: calc( 100% - 36px );
}

.player-drag-handle {
  cursor: pointer;
  touch-action: none !important;
  padding: 20px 12px;
  margin: -12px 0 -12px -12px;
}

.lineup-row .player-name {
  width: 25%;
}

.player-name {
  color: $css.colors.TEXT_LIGHT;
  font-size: 16px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scorer-row {
  background-color: $css.colors.SECONDARY;
  border-radius: 4px;
  color: $css.colors.TEXT_LIGHT;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 16px;
}

.future-batter-row {
  background-color: $css.colors.SECONDARY;
  border-radius: 4px;
  color: $css.colors.TEXT_LIGHT;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 16px;
}

.lineup-box {
  background-color: white;
  color: $css.colors.TEXT_DARK;
  height: 32px;
  width: 32px;
  font-size: 14px;
  line-height: 32px;
  border: 1px solid $css.colors.TEXT_DARK;
  text-align: center;
}

.lineup-box:hover, .lineup-box:active {
  filter: brightness(75%);
}

.result-button {
  width: 48px;
  padding: 12px;
  color: $css.colors.TEXT_LIGHT;
  border: 2px solid $css.colors.SECONDARY;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
}

.disabled {
  pointer-events: none;
}

.radio-button {
  display: flex;
  flex-direction: column;
  color: $css.colors.TEXT_LIGHT;
  font-size: 18px;
  margin: 16px 16px 0 16px;
}

.radio-button-option {
  margin: 8px 0;
}

/* It's possible to make these have prettier names */
.react-autosuggest__container,
.auth-input-container {
  position: relative;
  margin: 16px;
}

.react-autosuggest__input,
.auth-input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: $css.colors.WHITE;
  font-size: 18px;
  border-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $css.colors.SECONDARY_LIGHT;
}

/* Dialog styles */

.dialog {
  position: fixed;
  width: calc( 100% - 40px );
  top: 200px;
  background-color: $css.colors.PRIMARY_LIGHT;
  border: 4px solid $css.colors.SECONDARY_DARK;
  border-radius: 8px;
  color: $css.colors.TEXT_DARK;
  padding: 16px;
}

.dialog-text {
  font-size: 18px;
  color: $css.colors.TEXT_DARK;
}

.dialog-input-box {
  background-color: $css.colors.WHITE;
  border-radius: 4px;
  color: $css.colors.TEXT_DARK;
  font-size: 18px;
  margin-top: 24px;
  padding: 8px;
  width: calc(100% - 18px);
}

.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin: 24px 8px 0 8px;
  padding: 12px;
  text-align: center;
  width: 80px;
}

.confirm-button {
  background-color: $css.colors.SECONDARY;
  color: $css.colors.TEXT_LIGHT;
}

.confirm-button:hover, .confirm-button:active {
  background-color: $css.colors.SECONDARY_DARK;
}

.cancel-button {
  background-color: $css.colors.SECONDARY_LIGHT;
  color: $css.colors.TEXT_LIGHT;
}

.cancel-button:hover, .cancel-button:active {
  background-color: $css.colors.SECONDARY_DARK;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight {
  background-color: $css.colors.TEXT_LIGHT;
  margin: -5px;
  padding: 1px;
}

.plate-appearance-list {
  overflow-x: scroll;
  box-sizing: content-box;
  display: flex;
  justify-content: flex-start;
}

.plate-appearance-list-container {
  overflow: hidden;
  width: 70%;
  height: 34px;
  margin-top: 3px;
}

.prevent-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}