body {
  background: $css.colors.PRIMARY;
  color: $css.colors.TEXT_DARK;
  position: absolute;
  width: 100%;
  margin: 0px;
  font-size: 14px;
  font-family: '$css.font.main';
  box-sizing: border-box;
}

.page-error {
  text-align: center;
  font-size: 24px;
  padding: 5px;
}

.back-arrow {
  position: absolute;
  left: 0;
  padding: 9px 8px 0 8px;
  height: $css.sizes.BACK_ARROW;
  width: $css.sizes.BACK_ARROW;
}

.card-title {
	width: 100%;
	font-weight: bold;
	color: $css.colors.TEXT_LIGHT;
	background-color: $css.colors.PRIMARY_DARK;
	margin-bottom: 2px;
	font-size: 32px;
	text-align: center;
  line-height: 58px;
  min-height: 58px;
}

.list-item {
	padding: 10px 10px;
	margin: 10px;
	border-radius: 4px;
  color: $css.colors.TEXT_LIGHT;
	background-color: $css.colors.SECONDARY;
	font-size: 24px;
}

.list-item:hover, .list-item:active {
	background-color: $css.colors.SECONDARY_LIGHT;
}

.add-list-item {
  background-color: $css.colors.PRIMARY_DARK;
  color: $css.colors.TEXT_LIGHT;
}

.delete-button {
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.table-row {
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  width: calc( 100% - 20px );
  color: $css.colors.TEXT_LIGHT;
  background-color: $css.colors.PRIMARY;
  border-bottom: 1px solid $css.colors.SECONDARY;
}

.lineup-row {
  background-color: $css.colors.SECONDARY;
  border-radius: 4px;
  color: $css.colors.TEXT_LIGHT;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 10px;
}

.lineup-row .player-name {
  width: 30%;
}

.player-name {
  color: $css.colors.TEXT_LIGHT;
  font-size: 18px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scorer-row {
  background-color: $css.colors.SECONDARY;
  border-radius: 4px;
  color: $css.colors.TEXT_LIGHT;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 36px;
}

.future-batter-row {
  background-color: $css.colors.SECONDARY;
  border-radius: 4px;
  color: $css.colors.TEXT_LIGHT;
  display: flex;
  font-size: 18px;
  justify-content: space-around;
  margin: 10px;
  padding: 10px 10px;
}

.lineup-box {
  background-color: white;
  color: $css.colors.TEXT_DARK;
  height: 40px;
  width: 38px;
  line-height: 40px;
  border-top: 1px solid $css.colors.TEXT_DARK;
  border-bottom: 1px solid $css.colors.TEXT_DARK;
  border-right: 1px solid $css.colors.TEXT_DARK;
  text-align: center;
}

.lineup-box:hover, .lineup-box:active {
  filter: brightness(75%);
}

.result-button {
  width: 48px;
  padding: 12px;
  color: $css.colors.TEXT_LIGHT;
  border: 2px solid $css.colors.SECONDARY;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
}

.player-input-label {
  font-size: 24px;
  margin: 16px 0 0 16px;
}

.player-input {
  margin: 16px;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px;
  width: calc(100% - 32px);
}

/* Dialog styles */

.dialog {
  position: absolute;
  width: calc( 100% - 40px );
  top: 200px;
  background-color: $css.colors.PRIMARY_LIGHT;
  border: 4px solid $css.colors.SECONDARY_DARK;
  border-radius: 8px;
  color: $css.colors.TEXT_DARK;
  padding: 16px;
}

.dialog-text {
  font-size: 18px;
  color: $css.colors.TEXT_DARK;
}

.dialog-input-box {
  background-color: $css.colors.WHITE;
  border-radius: 4px;
  color: $css.colors.TEXT_DARK;
  font-size: 18px;
  margin-top: 24px;
  padding: 8px;
  width: calc(100% - 18px);
}

.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin: 24px 8px 0 8px;
  padding: 12px;
  text-align: center;
  width: 80px;
}

.confirm-button {
  background-color: $css.colors.SECONDARY;
  color: $css.colors.TEXT_LIGHT;
}

.confirm-button:hover, .confirm-button:active {
  background-color: $css.colors.SECONDARY_DARK;
}

.cancel-button {
  background-color: $css.colors.SECONDARY_LIGHT;
  color: $css.colors.TEXT_LIGHT;
}

.cancel-button:hover, .cancel-button:active {
  background-color: $css.colors.SECONDARY_DARK;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
